.address {
  background-color: @program-bg-color;

  @media (min-width: @tablet-width) {
    background-color: #ffffff;
  }
}

.address__wrapper {
  @media (min-width: @desktop-width) {
    position: relative;
  }
}

.address__partnership {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 13px;
  margin-bottom: 26px;
  padding: 26px 20px 0;

  @media (min-width: @tablet-width) {
    padding: 60px 70px 45px;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    display: flex;
    column-gap: 0;
    min-width: 565px;
    padding: 56px 80px;
    margin: 0 auto;
    top: 95px;
    left: 110px;
    background-color: #ffffff;
  }
}

.address__map {
  width: 100%;

  @media (min-width: @tablet-width) {
    min-height: 400px;
  }
}
