.more-products__item-title {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  text-transform: uppercase;
}

.more-products__item-text {
  margin-bottom: 21px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.more-products__show-all {
  background-color: @program-bg-color;
  color: #000000;
}
